interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/lolatravel/lola-desktop/compare/2919e85...2f65240
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/lolatravel/lola-desktop/compare/2919e85...2f65240\"\
        ,\"html_url\":\"https://github.com/lolatravel/lola-desktop/compare/2919e85...2f65240\"\
        ,\"permalink_url\":\"https://github.com/lolatravel/lola-desktop/compare/lolatravel:2919e85...lolatravel:2f65240\"\
        ,\"diff_url\":\"https://github.com/lolatravel/lola-desktop/compare/2919e85...2f65240.diff\"\
        ,\"patch_url\":\"https://github.com/lolatravel/lola-desktop/compare/2919e85...2f65240.patch\"\
        ,\"base_commit\":{\"sha\":\"2919e851a51547d13159c70d1f860b78a6b85d95\",\"\
        node_id\":\"MDY6Q29tbWl0MTE0Njg4OTgzOjI5MTllODUxYTUxNTQ3ZDEzMTU5YzcwZDFmODYwYjc4YTZiODVkOTU=\"\
        ,\"commit\":{\"author\":{\"name\":\"CJ Douglas\",\"email\":\"chasanid@gmail.com\"\
        ,\"date\":\"2020-02-20T17:07:34Z\"},\"committer\":{\"name\":\"GitHub\",\"\
        email\":\"noreply@github.com\",\"date\":\"2020-02-20T17:07:34Z\"},\"message\"\
        :\"Moving Delete Credit Modal to Support Console Packages (#3161)\",\"tree\"\
        :{\"sha\":\"a0316ee1f1d93b3faf9872ff09ec7315164d6fc3\",\"url\":\"https://api.github.com/repos/lolatravel/lola-desktop/git/trees/a0316ee1f1d93b3faf9872ff09ec7315164d6fc3\"\
        },\"url\":\"https://api.github.com/repos/lolatravel/lola-desktop/git/commits/2919e851a51547d13159c70d1f860b78a6b85d95\"\
        ,\"comment_count\":0,\"verification\":{\"verified\":true,\"reason\":\"valid\"\
        ,\"signature\":\"-----BEGIN PGP SIGNATURE-----\\n\\nwsBcBAABCAAQBQJeTrzWCRBK7hj4Ov3rIwAAdHIIACZCZdUcvkPJKLKP/gKNMt8+\\\
        nhWn4aejXDNsH60H0l7+ga/sWrtdkakRdYJG9bfzmmVUssU2Ku6O8KcnA7fa7Za2r\\nFjwYTIynlmBLomFyeq2ydE4uRLfzqPRsXrR4EEmou7+qQT9qU0mVgWAu6vzCLYqy\\\
        n691PgdqXV58/1GsSIJZ1JRLNi+TsZpk2VwUTT8i/N4OhEgH6RMf9S1qXbuErzLWQ\\n0nXcXcj9nlvlyuKjtfkLTpcs1jQllwBfDfabrgVTHicacExEnE/3bX3sQ8LeMOSB\\\
        nxwcS1Xeq54BBTptVGhNlkUkhNsowRFuS0SU2cIIWCPMEXthHZCCfTEbvG8jzBoI=\\n=JzuX\\\
        n-----END PGP SIGNATURE-----\\n\",\"payload\":\"tree a0316ee1f1d93b3faf9872ff09ec7315164d6fc3\\\
        nparent 01fb73e2f788ec3737f73d48899eb2f82cf9fa31\\nauthor CJ Douglas <chasanid@gmail.com>\
        \ 1582218454 -0500\\ncommitter GitHub <noreply@github.com> 1582218454 +0000\\\
        n\\nMoving Delete Credit Modal to Support Console Packages (#3161)\\n\\n\"\
        }},\"url\":\"https://api.github.com/repos/lolatravel/lola-desktop/commits/2919e851a51547d13159c70d1f860b78a6b85d95\"\
        ,\"html_url\":\"https://github.com/lolatravel/lola-desktop/commit/2919e851a51547d13159c70d1f860b78a6b85d95\"\
        ,\"comments_url\":\"https://api.github.com/repos/lolatravel/lola-desktop/commits/2919e851a51547d13159c70d1f860b78a6b85d95/comments\"\
        ,\"author\":{\"login\":\"chaz9127\",\"id\":13497991,\"node_id\":\"MDQ6VXNlcjEzNDk3OTkx\"\
        ,\"avatar_url\":\"https://avatars1.githubusercontent.com/u/13497991?v=4\"\
        ,\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/chaz9127\",\"\
        html_url\":\"https://github.com/chaz9127\",\"followers_url\":\"https://api.github.com/users/chaz9127/followers\"\
        ,\"following_url\":\"https://api.github.com/users/chaz9127/following{/other_user}\"\
        ,\"gists_url\":\"https://api.github.com/users/chaz9127/gists{/gist_id}\",\"\
        starred_url\":\"https://api.github.com/users/chaz9127/starred{/owner}{/repo}\"\
        ,\"subscriptions_url\":\"https://api.github.com/users/chaz9127/subscriptions\"\
        ,\"organizations_url\":\"https://api.github.com/users/chaz9127/orgs\",\"repos_url\"\
        :\"https://api.github.com/users/chaz9127/repos\",\"events_url\":\"https://api.github.com/users/chaz9127/events{/privacy}\"\
        ,\"received_events_url\":\"https://api.github.com/users/chaz9127/received_events\"\
        ,\"type\":\"User\",\"site_admin\":false},\"committer\":{\"login\":\"web-flow\"\
        ,\"id\":19864447,\"node_id\":\"MDQ6VXNlcjE5ODY0NDQ3\",\"avatar_url\":\"https://avatars3.githubusercontent.com/u/19864447?v=4\"\
        ,\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/web-flow\",\"\
        html_url\":\"https://github.com/web-flow\",\"followers_url\":\"https://api.github.com/users/web-flow/followers\"\
        ,\"following_url\":\"https://api.github.com/users/web-flow/following{/other_user}\"\
        ,\"gists_url\":\"https://api.github.com/users/web-flow/gists{/gist_id}\",\"\
        starred_url\":\"https://api.github.com/users/web-flow/starred{/owner}{/repo}\"\
        ,\"subscriptions_url\":\"https://api.github.com/users/web-flow/subscriptions\"\
        ,\"organizations_url\":\"https://api.github.com/users/web-flow/orgs\",\"repos_url\"\
        :\"https://api.github.com/users/web-flow/repos\",\"events_url\":\"https://api.github.com/users/web-flow/events{/privacy}\"\
        ,\"received_events_url\":\"https://api.github.com/users/web-flow/received_events\"\
        ,\"type\":\"User\",\"site_admin\":false},\"parents\":[{\"sha\":\"01fb73e2f788ec3737f73d48899eb2f82cf9fa31\"\
        ,\"url\":\"https://api.github.com/repos/lolatravel/lola-desktop/commits/01fb73e2f788ec3737f73d48899eb2f82cf9fa31\"\
        ,\"html_url\":\"https://github.com/lolatravel/lola-desktop/commit/01fb73e2f788ec3737f73d48899eb2f82cf9fa31\"\
        }]},\"merge_base_commit\":{\"sha\":\"2919e851a51547d13159c70d1f860b78a6b85d95\"\
        ,\"node_id\":\"MDY6Q29tbWl0MTE0Njg4OTgzOjI5MTllODUxYTUxNTQ3ZDEzMTU5YzcwZDFmODYwYjc4YTZiODVkOTU=\"\
        ,\"commit\":{\"author\":{\"name\":\"CJ Douglas\",\"email\":\"chasanid@gmail.com\"\
        ,\"date\":\"2020-02-20T17:07:34Z\"},\"committer\":{\"name\":\"GitHub\",\"\
        email\":\"noreply@github.com\",\"date\":\"2020-02-20T17:07:34Z\"},\"message\"\
        :\"Moving Delete Credit Modal to Support Console Packages (#3161)\",\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/lolatravel/lola-desktop/pulls/3165
  response:
    body:
      string: '{"url":"https://api.github.com/repos/lolatravel/lola-desktop/pulls/3165","id":377919638,"node_id":"MDExOlB1bGxSZXF1ZXN0Mzc3OTE5NjM4","html_url":"https://github.com/lolatravel/lola-desktop/pull/3165","diff_url":"https://github.com/lolatravel/lola-desktop/pull/3165.diff","patch_url":"https://github.com/lolatravel/lola-desktop/pull/3165.patch","issue_url":"https://api.github.com/repos/lolatravel/lola-desktop/issues/3165","number":3165,"state":"closed","locked":false,"title":"TVM-554:
        Remove CSV Update flag","user":{"login":"ramselgonzalez","id":35083652,"node_id":"MDQ6VXNlcjM1MDgzNjUy","avatar_url":"https://avatars0.githubusercontent.com/u/35083652?v=4","gravatar_id":"","url":"https://api.github.com/users/ramselgonzalez","html_url":"https://github.com/ramselgonzalez","followers_url":"https://api.github.com/users/ramselgonzalez/followers","following_url":"https://api.github.com/users/ramselgonzalez/following{/other_user}","gists_url":"https://api.github.com/users/ramselgonzalez/gists{/gist_id}","starred_url":"https://api.github.com/users/ramselgonzalez/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ramselgonzalez/subscriptions","organizations_url":"https://api.github.com/users/ramselgonzalez/orgs","repos_url":"https://api.github.com/users/ramselgonzalez/repos","events_url":"https://api.github.com/users/ramselgonzalez/events{/privacy}","received_events_url":"https://api.github.com/users/ramselgonzalez/received_events","type":"User","site_admin":false},"body":"###
        Summary\r\n\r\nRemove the feature flag and old code for the CSV update work.\r\n\r\n###
        Checklist\r\n\r\n-   [ ] Squashed/cleaned up commits\r\n-   [ ] Wrote a test
        or ran the app to exercise this code\r\n-   [ ] Included screenshots of changes\r\n-   [
        ] Updated or added relevant documentation (include Tettra link)\r\n\r\n###
        Prior to Merging\r\n\r\n-   [ ] Added a descriptive line to the [upcoming
        release](https://github.com/lolatravel/lola-desktop/releases)\r\n        that
        references any related jira tickets.\r\n","created_at":"2020-02-20T18:55:14Z","updated_at":"2020-02-20T20:29:25Z","closed_at":"2020-02-20T20:29:21Z","merged_at":"2020-02-20T20:29:20Z","merge_commit_sha":"a01bbda6e44e3a9dec928a3597571ffbf0dfd75b","assignee":null,"assignees":[],"requested_reviewers":[{"login":"jwaters627","id":7492444,"node_id":"MDQ6VXNlcjc0OTI0NDQ=","avatar_url":"https://avatars1.githubusercontent.com/u/7492444?v=4","gravatar_id":"","url":"https://api.github.com/users/jwaters627","html_url":"https://github.com/jwaters627","followers_url":"https://api.github.com/users/jwaters627/followers","following_url":"https://api.github.com/users/jwaters627/following{/other_user}","gists_url":"https://api.github.com/users/jwaters627/gists{/gist_id}","starred_url":"https://api.github.com/users/jwaters627/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jwaters627/subscriptions","organizations_url":"https://api.github.com/users/jwaters627/orgs","repos_url":"https://api.github.com/users/jwaters627/repos","events_url":"https://api.github.com/users/jwaters627/events{/privacy}","received_events_url":"https://api.github.com/users/jwaters627/received_events","type":"User","site_admin":false}],"requested_teams":[],"labels":[{"id":1717185478,"node_id":"MDU6TGFiZWwxNzE3MTg1NDc4","url":"https://api.github.com/repos/lolatravel/lola-desktop/labels/automerge","name":"automerge","color":"9c9bdd","default":false,"description":""}],"milestone":null,"commits_url":"https://api.github.com/repos/lolatravel/lola-desktop/pulls/3165/commits","review_comments_url":"https://api.github.com/repos/lolatravel/lola-desktop/pulls/3165/comments","review_comment_url":"https://api.github.com/repos/lolatravel/lola-desktop/pulls/comments{/number}","comments_url":"https://api.github.com/repos/lolatravel/lola-desktop/issues/3165/comments","statuses_url":"https://api.github.com/repos/lolatravel/lola-desktop/statuses/86087015691a5e2e0b7a295fae68f82710bb77a2","head":{"label":"lolatravel:tvm-554-remove-csv-upload-feature-flag","ref":"tvm-554-remove-csv-upload-feature-flag","sha":"86087015691a5e2e0b7a295fae68f82710bb77a2","user":{"login":"lolatravel","id":13453237,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEzNDUzMjM3","avatar_url":"https://avatars3.githubusercontent.com/u/13453237?v=4","gravatar_id":"","url":"https://api.github.com/users/lolatravel","html_url":"https://github.com/lolatravel","followers_url":"https://api.github.com/users/lolatravel/followers","following_url":"https://api.github.com/users/lolatravel/following{/other_user}","gists_url":"https://api.github.com/users/lolatravel/gists{/gist_id}","starred_url":"https://api.github.com/users/lolatravel/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lolatravel/subscriptions","organizations_url":"https://api.github.com/users/lolatravel/orgs","repos_url":"https://api.github.com/users/lolatravel/repos","events_url":"https://api.github.com/users/lolatravel/events{/privacy}","received_events_url":"https://api.github.com/users/lolatravel/received_events","type":"Organization","site_admin":false},"repo":{"id":114688983,"node_id":"MDEwOlJlcG9zaXRvcnkxMTQ2ODg5ODM=","name":"lola-desktop","full_name":"lolatravel/lola-desktop","private":true,"owner":{"login":"lolatravel","id":13453237,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEzNDUzMjM3","avatar_url":"https://avatars3.githubusercontent.com/u/13453237?v=4","gravatar_id":"","url":"https://api.github.com/users/lolatravel","html_url":"https://github.com/lolatravel","followers_url":"https://api.github.com/users/lolatravel/followers","following_url":"https://api.github.com/users/lolatravel/following{/other_user}","gists_url":"https://api.github.com/users/lolatravel/gists{/gist_id}","starred_url":"https://api.github.com/users/lolatravel/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lolatravel/subscriptions","organizations_url":"https://api.github.com/users/lolatravel/orgs","repos_url":"https://api.github.com/users/lolatravel/repos","events_url":"https://api.github.com/users/lolatravel/events{/privacy}","received_events_url":"https://api.github.com/users/lolatravel/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/lolatravel/lola-desktop","description":"Lola
        Desktop","fork":false,"url":"https://api.github.com/repos/lolatravel/lola-desktop","forks_url":"https://api.github.com/repos/lolatravel/lola-desktop/forks","keys_url":"https://api.github.com/repos/lolatravel/lola-desktop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lolatravel/lola-desktop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lolatravel/lola-desktop/teams","hooks_url":"https://api.github.com/repos/lolatravel/lola-desktop/hooks","issue_events_url":"https://api.github.com/repos/lolatravel/lola-desktop/issues/events{/number}","events_url":"https://api.github.com/repos/lolatravel/lola-desktop/events","assignees_url":"https://api.github.com/repos/lolatravel/lola-desktop/assignees{/user}","branches_url":"https://api.github.com/repos/lolatravel/lola-desktop/branches{/branch}","tags_url":"https://api.github.com/repos/lolatravel/lola-desktop/tags","blobs_url":"https://api.github.com/repos/lolatravel/lola-desktop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lolatravel/lola-desktop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lolatravel/lola-desktop/git/refs{/sha}","trees_url":"https://api.github.com/repos/lolatravel/lola-desktop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lolatravel/lola-desktop/statuses/{sha}","languages_url":"https://api.github.com/repos/lolatravel/lola-desktop/languages","stargazers_url":"https://api.github.com/repos/lolatravel/lola-desktop/stargazers","contributors_url":"https://api.github.com/repos/lolatravel/lola-desktop/contributors","subscribers_url":"https://api.github.com/repos/lolatravel/lola-desktop/subscribers","subscription_url":"https://api.github.com/repos/lolatravel/lola-desktop/subscription","commits_url":"https://api.github.com/repos/lolatravel/lola-desktop/commits{/sha}","git_commits_url":"https://api.github.com/repos/lolatravel/lola-desktop/git/commits{/sha}","comments_url":"https://api.github.com/repos/lolatravel/lola-desktop/comments{/number}","issue_comment_url":"https://api.github.com/repos/lolatravel/lola-desktop/issues/comments{/number}","contents_url":"https://api.github.com/repos/lolatravel/lola-desktop/contents/{+path}","compare_url":"https://api.github.com/repos/lolatravel/lola-desktop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lolatravel/lola-desktop/merges","archive_url":"https://api.github.com/repos/lolatravel/lola-desktop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lolatravel/lola-desktop/downloads","issues_url":"https://api.github.com/repos/lolatravel/lola-desktop/issues{/number}","pulls_url":"https://api.github.com/repos/lolatravel/lola-desktop/pulls{/number}","milestones_url":"https://api.github.com/repos/lolatravel/lola-desktop/milestones{/number}","notifications_url":"https://api.github.com/repos/lolatravel/lola-desktop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lolatravel/lola-desktop/labels{/name}","releases_url":"https://api.github.com/repos/lolatravel/lola-desktop/releases{/id}","deployments_url":"https://api.github.com/repos/lolatravel/lola-desktop/deployments","created_at":"2017-12-18T21:21:49Z","updated_at":"2020-03-05T05:32:32Z","pushed_at":"2020-03-05T09:34:00Z","git_url":"git://github.com/lolatravel/lola-desktop.git","ssh_url":"git@github.com:lolatravel/lola-desktop.git","clone_url":"https://github.com/lolatravel/lola-desktop.git","svn_url":"https://github.com/lolatravel/lola-desktop","homepage":null,"size":33750,"stargazers_count":3,"watchers_count":3,"language":"JavaScript","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":12,"license":null,"forks":0,"open_issues":12,"watchers":3,"default_branch":"master"}},"base":{"label":"lolatravel:master","ref":"master","sha":"a2b52414527497a1a08365ca37f56fa4abb7c8f1","user":{"login":"lolatravel","id":13453237,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEzNDUzMjM3","avatar_url":"https://avatars3.githubusercontent.com/u/13453237?v=4","gravatar_id":"","url":"https://api.github.com/users/lolatravel","html_url":"https://github.com/lolatravel","followers_url":"https://api.github.com/users/lolatravel/followers","following_url":"https://api.github.com/users/lolatravel/following{/other_[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://lola.atlassian.net/rest/api/3/issue/HOT-238
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations","id":"17358","self":"https://lola.atlassian.net/rest/api/3/issue/17358","key":"HOTCL-238","fields":{"statuscategorychangedate":"2020-02-20T16:13:43.636-0500","issuetype":{"self":"https://lola.atlassian.net/rest/api/3/issuetype/10001","id":"10001","description":"Stories
        track functionality or features expressed as user goals.","iconUrl":"https://lola.atlassian.net/secure/viewavatar?size=medium&avatarId=10315&avatarType=issuetype","name":"Story","subtask":false,"avatarId":10315},"timespent":null,"project":{"self":"https://lola.atlassian.net/rest/api/3/project/10037","id":"10037","key":"HOTCL","name":"Hotels_Classic","projectTypeKey":"software","simplified":false,"avatarUrls":{"48x48":"https://lola.atlassian.net/secure/projectavatar?pid=10037&avatarId=10413","24x24":"https://lola.atlassian.net/secure/projectavatar?size=small&s=small&pid=10037&avatarId=10413","16x16":"https://lola.atlassian.net/secure/projectavatar?size=xsmall&s=xsmall&pid=10037&avatarId=10413","32x32":"https://lola.atlassian.net/secure/projectavatar?size=medium&s=medium&pid=10037&avatarId=10413"}},"customfield_10032":null,"customfield_10033":null,"fixVersions":[],"customfield_10034":null,"aggregatetimespent":null,"customfield_10035":null,"resolution":null,"customfield_10036":null,"customfield_10027":null,"resolutiondate":null,"workratio":-1,"watches":{"self":"https://lola.atlassian.net/rest/api/3/issue/HOTCL-238/watchers","watchCount":1,"isWatching":false},"lastViewed":null,"created":"2020-02-05T17:19:01.119-0500","customfield_10020":null,"customfield_10021":["com.atlassian.greenhopper.service.sprint.Sprint@42365f75[id=70,rapidViewId=37,state=ACTIVE,name=Sprint
        4,goal=,startDate=2020-02-18T16:54:39.597Z,endDate=2020-03-03T16:54:00.000Z,completeDate=<null>,sequence=70]"],"customfield_10022":"1|i000z3:x01cu0i1zzi0074qi","priority":{"self":"https://lola.atlassian.net/rest/api/3/priority/3","iconUrl":"https://lola.atlassian.net/images/icons/priorities/medium.svg","name":"Medium","id":"3"},"customfield_10025":1.0,"labels":[],"customfield_10026":null,"customfield_10016":null,"customfield_10017":null,"customfield_10018":{"hasEpicLinkFieldDependency":false,"showField":false,"nonEditableReason":{"reason":"PLUGIN_LICENSE_ERROR","message":"Portfolio
        for Jira must be licensed for the Parent Link to be available."}},"customfield_10019":null,"timeestimate":null,"aggregatetimeoriginalestimate":null,"versions":[],"issuelinks":[],"assignee":{"self":"https://lola.atlassian.net/rest/api/3/user?accountId=5d0bf002dae4be0bc931d101","accountId":"5d0bf002dae4be0bc931d101","emailAddress":"nick.bond@lola.com","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5d0bf002dae4be0bc931d101/763ae339-32da-4384-a871-fe6e5ffad31d/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5d0bf002dae4be0bc931d101/763ae339-32da-4384-a871-fe6e5ffad31d/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5d0bf002dae4be0bc931d101/763ae339-32da-4384-a871-fe6e5ffad31d/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5d0bf002dae4be0bc931d101/763ae339-32da-4384-a871-fe6e5ffad31d/128?size=32&s=32"},"displayName":"Nick
        Bond","active":true,"timeZone":"America/New_York","accountType":"atlassian"},"updated":"2020-02-21T12:43:25.145-0500","status":{"self":"https://lola.atlassian.net/rest/api/3/status/10003","description":"","iconUrl":"https://lola.atlassian.net/","name":"Done","id":"10003","statusCategory":{"self":"https://lola.atlassian.net/rest/api/3/statuscategory/3","id":3,"key":"done","colorName":"green","name":"Done"}},"components":[],"timeoriginalestimate":null,"description":null,"customfield_10010":null,"customfield_10014":null,"timetracking":{},"customfield_10015":null,"customfield_10005":null,"customfield_10006":null,"customfield_10007":null,"security":null,"customfield_10008":null,"aggregatetimeestimate":null,"customfield_10009":null,"attachment":[{"self":"https://lola.atlassian.net/rest/api/3/attachment/11928","id":"11928","filename":"HOT-238.png","author":{"self":"https://lola.atlassian.net/rest/api/3/user?accountId=5dc04daa828b490c5cc5a152","accountId":"5dc04daa828b490c5cc5a152","emailAddress":"casey@lola.com","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=32&s=32"},"displayName":"Casey
        Jones","active":true,"timeZone":"America/New_York","accountType":"atlassian"},"created":"2020-02-05T17:19:57.452-0500","size":177106,"mimeType":"image/png","content":"https://lola.atlassian.net/secure/attachment/11928/HOT-238.png","thumbnail":"https://lola.atlassian.net/secure/thumbnail/11928/HOT-238.png"}],"summary":"Negotiated
        Rates: Tooltip - swap item 2 with item 3.","creator":{"self":"https://lola.atlassian.net/rest/api/3/user?accountId=5dc04daa828b490c5cc5a152","accountId":"5dc04daa828b490c5cc5a152","emailAddress":"casey@lola.com","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=32&s=32"},"displayName":"Casey
        Jones","active":true,"timeZone":"America/New_York","accountType":"atlassian"},"subtasks":[],"reporter":{"self":"https://lola.atlassian.net/rest/api/3/user?accountId=5dc04daa828b490c5cc5a152","accountId":"5dc04daa828b490c5cc5a152","emailAddress":"casey@lola.com","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=32&s=32"},"displayName":"Casey
        Jones","active":true,"timeZone":"America/New_York","accountType":"atlassian"},"customfield_10000":"{pullrequest={dataType=pullrequest,
        state=OPEN, stateCount=1}, json={\"cachedValue\":{\"errors\":[],\"summary\":{\"pullrequest\":{\"overall\":{\"count\":1,\"lastUpdated\":\"2020-02-20T14:05:02.000-0500\",\"stateCount\":1,\"state\":\"OPEN\",\"dataType\":\"pullrequest\",\"open\":true},\"byInstanceType\":{\"GitHub\":{\"count\":1,\"name\":\"GitHub\"}}}}},\"isStale\":true}}","aggregateprogress":{"progress":0,"total":0},"customfield_10001":null,"customfield_10002":null,"customfield_10003":null,"customfield_10004":null,"customfield_10038":null,"environment":null,"duedate":null,"progress":{"progress":0,"total":0},"votes":{"self":"https://lola.atlassian.net/rest/api/3/issue/HOTCL-238/votes","votes":0,"hasVoted":false},"comment":{"comments":[{"self":"https://lola.atlassian.net/rest/api/3/issue/17358/comment/14339","id":"14339","author":{"self":"https://lola.atlassian.net/rest/api/3/user?accountId=5dc04daa828b490c5cc5a152","accountId":"5dc04daa828b490c5cc5a152","emailAddress":"casey@lola.com","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=32&s=32"},"displayName":"Casey
        Jones","active":true,"timeZone":"America/New_York","accountType":"atlassian"},"body":{"version":1,"type":"doc","content":[{"type":"paragraph","content":[{"type":"text","text":"size
        = 1"}]}]},"updateAuthor":{"self":"https://lola.atlassian.net/rest/api/3/user?accountId=5dc04daa828b490c5cc5a152","accountId":"5dc04daa828b490c5cc5a152","emailAddress":"casey@lola.com","avatarUrls":{"48x48":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=48&s=48","24x24":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=24&s=24","16x16":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=16&s=16","32x32":"https://avatar-management--avatars.us-west-2.prod.public.atl-paas.net/5dc04daa828b490c5cc5a152/e52f0200-c620-4bc2-9ec3-5db1d1a3244e/128?size=32&s=32"},"displayName":"Casey
        Jones","active":true,"timeZone":"America/New_York","accountType":"atlassian"},"created":"2020-02-18T11:40:08.721-0500","updated":"2020-02-18T11:40:08.721-0500","jsdPublic":true}],"maxResults":1,"total":1,"startAt":0},"worklog":{"startAt":0,"maxResults":20,"total":0,"worklogs":[]}}}'
    headers:
      ATL-TraceId: 4c8f8dd36a4aac2d
      Content-Type: application/json;charset=UTF-8
      X-AACCOUNTID: 5cf1776a55a88a0fc8639f32
      X-AREQUESTID: 4fa08f7b-a37f-4561-92bf-c296afad91d8
    status:
      code: 200
      message: ''
    url: https://lola.atlassian.net/rest/api/3/issue/HOT-238
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://lola.atlassian.net/rest/api/3/issue/TVM-554
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations","id":"17058","self":"https://lola.atlassian.net/rest/api/3/issue/17058","key":"TVM-554","fields":{"statuscategorychangedate":"2020-02-21T09:19:04.145-0500","issuetype":{"self":"https://lola.atlassian.net/res[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://lola.atlassian.net/rest/api/3/issue/ST-532
  response:
    body:
      string: '{"expand":"renderedFields,names,schema,operations,editmeta,changelog,versionedRepresentations","id":"15292","self":"https://lola.atlassian.net/rest/api/3/issue/15292","key":"ST-532","fields":{"statuscategorychangedate":"2020-02-20T14:29:34.858-0500","issuetype":{"self":"https://lola.atlassian.net/rest/api/3/issuetype/10028","id":"10028","description":"Stories
        track functionality or features expressed as user goals.","iconUrl":"https://lola.atlassian.net/secure/viewavatar?size=medium&avatarId=10315&avatarType=issuetype","name":"Story","subtask":false,"avatarId":10315,"entityId":"634e0aeb-3f86-46ac-ad67-ce2c2510ef72"},"parent":{"id":"14662","key":"ST-468","self":"https://lola.atlassian.net/rest/api/3/issue/14662","fields":{"summary":"Travel
        Credits v1","status":{"self":"https://lola.atlassian.net/rest/api/3/status/10023","description":"","iconUrl":"https://lola.atlassian.net/","name":"In
        Progress","id":"10023","statusCategory":{"self":"https://lola.atlassian.net/rest/api/3/statuscategory/4","id":4,"key":"indeterminate","colorName":"yellow","name":"In
        Progress"}},"priority":{"self":"https://lola.atlassian.net/rest/api/3/priority/5","iconUrl":"https://lola.atlassian.net/images/icons/priorities/lowest.svg","name":"Lowest","id":"5"},"issuetype":{"self":"https://lola.atlassian.net/rest/api/3/issuetype/10022","id":"10022","description":"Track
[...]
