interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.pkc.lola.com/apis/apps/v1/namespaces/core-services/replicasets?labelSelector=app%3Dbatman&watch=False
  response:
    body:
      string: '{"kind":"ReplicaSetList","apiVersion":"apps/v1","metadata":{"selfLink":"/apis/apps/v1/namespaces/core-services/replicasets","resourceVersion":"104866559"},"items":[]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
