interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/lolatravel/lola-server/compare/74d5a0d...8fb51f8
  response:
    body:
      string: '{"url":"https://api.github.com/repos/lolatravel/lola-server/compare/74d5a0d...8fb51f8","html_url":"https://github.com/lolatravel/lola-server/compare/74d5a0d...8fb51f8","permalink_url":"https://github.com/lolatravel/lola-server/compare/lolatravel:74d5a0d...lolatravel:8fb51f8","diff_url":"https://github.com/lolatravel/lola-server/compare/74d5a0d...8fb51f8.diff","patch_url":"https://github.com/lolatravel/lola-server/compare/74d5a0d...8fb51f8.patch","base_commit":{"sha":"74d5a0d3bff1ad7ff19a0c4ed0d8ecf17800e484","node_id":"MDY6Q29tbWl0Mzk2NDUxNDQ6NzRkNWEwZDNiZmYxYWQ3ZmYxOWEwYzRlZDBkOGVjZjE3ODAwZTQ4NA==","commit":{"author":{"name":"lukewalshct","email":"luke@lola.com","date":"2020-02-21T15:18:37Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-02-21T15:18:37Z"},"message":"EN-1
        bumped lola auth (#6108)\n\n* bumped lola auth\n\n* removed kinesis models
        pubsub on app start\n\n* Revert \"removed kinesis models pubsub on app start\"\n\nThis
        reverts commit 4ea3f50947728eeae9f7575ca3977073d616d8a5.","tree":{"sha":"45461565c14944363563681a3dc6560fb2d9341d","url":"https://api.github.com/repos/lolatravel/lola-server/git/trees/45461565c14944363563681a3dc6560fb2d9341d"},"url":"https://api.github.com/repos/lolatravel/lola-server/git/commits/74d5a0d3bff1ad7ff19a0c4ed0d8ecf17800e484","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJeT/TOCRBK7hj4Ov3rIwAAdHIIADPbeDcMy6VK9btI+SVivN0O\nusCLaHY9jFpSQMFlvMKwfY9yMinEUPxOsaFMmuFF84Yv0WTrvpg2iG/J0LGaZ06p\n8xx0y282699L338+VSRt+yKRkSTM9WutIDDGAVMa4LHHi3mFGQObSye4cUXkX9Rl\nMtzNwNPrRQDLEd6aG3dHK/uYU82jHJhuMZzX6UZ/erDh/hReYYsI/MQh5nJmNFnF\nh0X+QyMdKV7tfnRaiclq7gSzTXxjnFIcsPCesym+7W5ISdlptog2/W9bIvDh7RAB\n7rXOmkjGmF9EDi9rQEBeOtwRWqiLNrbhtsBxzW8t4bpwBBQqlMpz6XZoXLAcXqE=\n=eTgL\n-----END
        PGP SIGNATURE-----\n","payload":"tree 45461565c14944363563681a3dc6560fb2d9341d\nparent
        a398d33e74159ce8f02925b5982254e24990253f\nauthor lukewalshct <luke@lola.com>
        1582298317 -0500\ncommitter GitHub <noreply@github.com> 1582298317 +0000\n\nEN-1
        bumped lola auth (#6108)\n\n* bumped lola auth\n\n* removed kinesis models
        pubsub on app start\n\n* Revert \"removed kinesis models pubsub on app start\"\n\nThis
        reverts commit 4ea3f50947728eeae9f7575ca3977073d616d8a5.\n"}},"url":"https://api.github.com/repos/lolatravel/lola-server/commits/74d5a0d3bff1ad7ff19a0c4ed0d8ecf17800e484","html_url":"https://github.com/lolatravel/lola-server/commit/74d5a0d3bff1ad7ff19a0c4ed0d8ecf17800e484","comments_url":"https://api.github.com/repos/lolatravel/lola-server/commits/74d5a0d3bff1ad7ff19a0c4ed0d8ecf17800e484/comments","author":{"login":"lukewalshct","id":11319953,"node_id":"MDQ6VXNlcjExMzE5OTUz","avatar_url":"https://avatars0.githubusercontent.com/u/11319953?v=4","gravatar_id":"","url":"https://api.github.com/users/lukewalshct","html_url":"https://github.com/lukewalshct","followers_url":"https://api.github.com/users/lukewalshct/followers","following_url":"https://api.github.com/users/lukewalshct/following{/other_user}","gists_url":"https://api.github.com/users/lukewalshct/gists{/gist_id}","starred_url":"https://api.github.com/users/lukewalshct/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lukewalshct/subscriptions","organizations_url":"https://api.github.com/users/lukewalshct/orgs","repos_url":"https://api.github.com/users/lukewalshct/repos","events_url":"https://api.github.com/users/lukewalshct/events{/privacy}","received_events_url":"https://api.github.com/users/lukewalshct/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"a398d33e74159ce8f02925b5982254e24990253f","url":"https://api.github.com/repos/lolatravel/lola-server/commits/a398d33e74159ce8f02925b5982254e24990253f","html_url":"https://github.com/lolatravel/lola-server/commit/a398d33e74159ce8f02925b5982254e24990253f"}]},"merge_base_commit":{"sha":"74d5a0d3bff1ad7ff19a0c4ed0d8ecf17800e484","node_id":"MDY6Q29tbWl0Mzk2NDUxNDQ6NzRkNWEwZDNiZmYxYWQ3ZmYxOWEwYzRlZDBkOGVjZjE3ODAwZTQ4NA==","commit":{"author":{"name":"lukewalshct","email":"luke@lola.com","date":"2020-02-21T15:18:37Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-02-21T15:18:37Z"},"message":"EN-1
        bumped lola auth (#6108)\n\n* bumped lola auth\n\n* removed kinesis models
        pubsub on app start\n\n* Revert \"removed kinesis models pubsub o[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/lolatravel/lola-server/pulls/6140
  response:
    body:
      string: '{"url":"https://api.github.com/repos/lolatravel/lola-server/pulls/6140","id":377204240,"node_id":"MDExOlB1bGxSZXF1ZXN0Mzc3MjA0MjQw","html_url":"https://github.com/lolatravel/lola-server/pull/6140","diff_url":"https://github.com/lolatravel/lola-server/pull/6140.diff","patch_url":"https://github.com/lolatravel/lola-server/pull/6140.patch","issue_url":"https://api.github.com/repos/lolatravel/lola-server/issues/6140","number":6140,"state":"closed","locked":false,"title":"TVM-610
        Make group policy editable","user":{"login":"mpnovikova","id":1108676,"node_id":"MDQ6VXNlcjExMDg2NzY=","avatar_url":"https://avatars2.githubusercontent.com/u/1108676?v=4","gravatar_id":"","url":"https://api.github.com/users/mpnovikova","html_url":"https://github.com/mpnovikova","followers_url":"https://api.github.com/users/mpnovikova/followers","following_url":"https://api.github.com/users/mpnovikova/following{/other_user}","gists_url":"https://api.github.com/users/mpnovikova/gists{/gist_id}","starred_url":"https://api.github.com[...]
[...]
