interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.pkc.lola.com/apis/apps/v1/namespaces/core-services/replicasets?labelSelector=app%3Dlola-server&watch=False
  response:
    body:
      string: '{"kind":"ReplicaSetList","apiVersion":"apps/v1","metadata":{"selfLink":"/apis/apps/v1/namespaces/core-services/replicasets","resourceVersion":"104866553"},"items":[{"metadata":{"name":"lola-server-bop-worker-65cd6bbbc9","namespace":"core-services","selfLink":"/apis/apps/v1/namespaces/core-services/replicasets/lola-server-bop-worker-65cd6bbbc9","uid":"bfbee656-604f-4e3e-9806-2df1a3f22e5c","resourceVersion":"102503703","generation":4,"creationTimestamp":"2020-02-27T17:15:31Z","labels":{"app":"lola-server","owner":"engineering","pod-template-hash":"65cd6bbbc9","worker":"celery"},"annotations":{"deployment.kubernetes.io/desired-replicas":"2","deployment.kubernetes.io/max-replicas":"3","deployment.kubernetes.io/revision":"92","sumologic.com/sourceCategory":"/prod/%{label:app}"},"ownerReferences":[{"apiVersion":"apps/v1","kind":"Deployment","name":"lola-server-bop-worker","uid":"025fdba9-9818-4334-80de-d22a1dc23198","controller":true,"blockOwnerDeletion":true}]},"spec":{"replicas":0,"selector":{"matchLabels":{"app":"lola-server","owner":"engineering","pod-template-hash":"65cd6bbbc9"}},"template":{"metadata":{"creationTimestamp":null,"labels":{"app":"lola-server","owner":"engineering","pod-template-hash":"65cd6bbbc9","worker":"celery"},"annotations":{"iam.amazonaws.com/role":"arn:aws:iam::565166388327:role/k8s-prod-lola-server","kubectl.kubernetes.io/restartedAt":"2020-01-30T15:24:11-05:00","sumologic.com/sourceCategory":"/prod/%{label:app}"}},"spec":{"volumes":[{"name":"varlogbus","persistentVolumeClaim":{"claimName":"nfs"}},{"name":"prometheus-metrics-db","emptyDir":{}}],"initContainers":[{"name":"pre-deploy-check","image":"565166388327.dkr.ecr.us-east-1.amazonaws.com/lolatravel/lola-server:49c24ed","command":["/bin/bash"],"args":["-c","python
        bin/cmdline.py pre_deploy"],"envFrom":[{"configMapRef":{"name":"lola-server-config-5gdf6tfdmt"}},{"secretRef":{"name":"lola-server-secrets"}}],"env":[{"name":"HOST_IP","valueFrom":{"fieldRef":{"apiVersion":"v1","fieldPath":"status.hostIP"}}}],"resources":{},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"Always"}],"containers":[{"name":"bop-worker","image":"565166388327.dkr.ecr.us-east-1.amazonaws.com/lolatravel/lola-server:49c24ed","command":["/bin/bash"],"args":["-c","AWS_XRAY_DAEMON_ADDRESS=\"${HOST_IP:=127.0.0.1}:2000\"
        python bin/start_celery_worker.py -n travel_worker@%h -P gevent --concurrency
        1 -Q lola.bop"],"envFrom":[{"configMapRef":{"name":"lola-server-config-5gdf6tfdmt"}},{"secretRef":{"name":"lola-server-secrets"}}],"env":[{"name":"HOST_IP","valueFrom":{"fieldRef":{"apiVersion":"v1","fieldPath":"status.hostIP"}}}],"resources":{"requests":{"memory":"128Mi"}},"volumeMounts":[{"name":"varlogbus","mountPath":"/var/log/bus"},{"name":"prometheus-metrics-db","mountPath":"/app/prometheus"}],"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"Always"},{"name":"metrics-sidecar","image":"565166388327.dkr.ecr.us-east-1.amazonaws.com/lolatravel/lola-server:49c24ed","command":["/bin/bash"],"args":["-c","gunicorn
        -c server/web/gunicorn_metrics.conf.py bin.start_metric_web:init_and_create_flask_app\\(\\)"],"ports":[{"name":"http","containerPort":7400,"protocol":"TCP"}],"envFrom":[{"configMapRef":{"name":"lola-server-config-5gdf6tfdmt"}},{"secretRef":{"name":"lola-server-secrets"}}],"env":[{"name":"HOST_IP","valueFrom":{"fieldRef":{"apiVersion":"v1","fieldPath":"status.hostIP"}}}],"resources":{"limits":{"memory":"1Gi"},"requests":{"memory":"128Mi"}},"volumeMounts":[{"name":"prometheus-metrics-db","mountPath":"/app/prometheus"}],"livenessProbe":{"httpGet":{"path":"/metrics","port":"http","scheme":"HTTP"},"initialDelaySeconds":30,"timeoutSeconds":1,"periodSeconds":10,"successThreshold":1,"failureThreshold":3},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"Always"}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","securityContext":{},"affinity":{"podAffinity":{"preferredDuringSchedulingIgnoredDuringExecution":[{"weight":55,"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app","operator":"In","values":["travel-service"]},{"key":"worker","operator":"In","values":["celery"]}]},"topologyKey":"kubernetes.io/hostname"}}]},"podAntiAffinity":{"preferredDuringSchedulingIgnoredDuringExecution":[{"weight":50,"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app","operator":"In","values":["lola-server"]},{"key":"worker","operator":"In","values":["web"]}]},"topologyKey":"kubernetes.io/hostname"}},{"weight":50,"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app","operator":"In","values":["travel-service"]},{"key":"worker","operator":"In","values":["web"]}]},"topologyKey":"kubernetes.io/hostname"}},{"weight":50,"podAffinityTerm":{"labelSelector":{"matchExpressions":[{"key":"app","operator":"In","values":["harrison"]}]},"topologyKey":"kubernetes.io/hostname"}}]}},"schedulerName":"default-scheduler"}}},"status":{"replicas":0,"observedGeneration":4}},{"metadata":{"name":"lola-server-bop-worker-69c84b6859","namespace":"core-services","selfLink":"/apis/apps/v1/namespaces/core-services/replicasets/lola-server-bop-worker-69c84b6859","uid":"f8b5f35c-e8f8-4359-bfa1-ea904422ba69","resourceVersion":"104513480","generation":4,"creationTimestamp":"2020-03-04T15:34:43Z","labels":{"app":"lola-server","owner":"engineering","pod-template-hash":"69c84b6859","worker":"celery"},"annotations":{"deployment.kubernetes.io/desired-replicas":"2","deployment.ku[...]
