interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/repos/lolatravel/lola-server/compare/c0c43ba0c86d876cbd881e1242965116753b2702...3cb7e431258000ddfd648e650787e51ffe87760e
  response:
    body:
      string: '{"url":"https://api.github.com/repos/lolatravel/lola-server/compare/c0c43ba0c86d876cbd881e1242965116753b2702...3cb7e431258000ddfd648e650787e51ffe87760e","html_url":"https://github.com/lolatravel/lola-server/compare/c0c43ba0c86d876cbd881e1242965116753b2702...3cb7e431258000ddfd648e650787e51ffe87760e","permalink_url":"https://github.com/lolatravel/lola-server/compare/lolatravel:c0c43ba...lolatravel:3cb7e43","diff_url":"https://github.com/lolatravel/lola-server/compare/c0c43ba0c86d876cbd881e1242965116753b2702...3cb7e431258000ddfd648e650787e51ffe87760e.diff","patch_url":"https://github.com/lolatravel/lola-server/compare/c0c43ba0c86d876cbd881e1242965116753b2702...3cb7e431258000ddfd648e650787e51ffe87760e.patch","base_commit":{"sha":"c0c43ba0c86d876cbd881e1242965116753b2702","node_id":"MDY6Q29tbWl0Mzk2NDUxNDQ6YzBjNDNiYTBjODZkODc2Y2JkODgxZTEyNDI5NjUxMTY3NTNiMjcwMg==","commit":{"author":{"name":"mosmith89","email":"47039837+mosmith89@users.noreply.github.com","date":"2020-02-18T14:39:22Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-02-18T14:39:22Z"},"message":"FLY-271
        As a User i want Hotels omitted that dont have a specific lat long value stored
        (#6124)\n\n* Omit hotels that are missing a latitude and longitude\n\n* Omit
        hotels that are missing a latitude and longitude\n\n* Ran black\n\n* Made
        few changes from PR comments\n\n* Moved hotel_data = dict() up a few lines","tree":{"sha":"2e87cb835a0637e7de37ff9b5738a818dfcf812e","url":"https://api.github.com/repos/lolatravel/lola-server/git/trees/2e87cb835a0637e7de37ff9b5738a818dfcf812e"},"url":"https://api.github.com/repos/lolatravel/lola-server/git/commits/c0c43ba0c86d876cbd881e1242965116753b2702","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJeS/caCRBK7hj4Ov3rIwAAdHIIAIKPwJD/zbJV18xJV8vvlyix\nuwm1xb4+NT+JhfNTz6m7cYJkQqijSZwFQ4Iy19pdhlZi7wpkhfPSZH2D0+8nUA3D\nCYQBksHO6ra13IzXn5RuwC7EapFelo8YEDU6+Lwm/st7hMSoLgNVoMqqBRwi3ioF\nDXiUt+qC/z0Tz4UXm7jBaqOFJ1qbJ185Y6crXAd2lJ+DS0swntxNS6aU0rh9KEF0\n14/foSuAF76HjpkaXxYUUK3Yr+FMMVKveqff7oQ8taQApeSuMAiHPlXdeSoXk7kc\nkCq4Y/FotOSsptepPFsU1V3PjA6DXtYzcq2uPHbbOiu/1yZxsYaF1G+m+jpS5G4=\n=76oI\n-----END
        PGP SIGNATURE-----\n","payload":"tree 2e87cb835a0637e7de37ff9b5738a818dfcf812e\nparent
        e6debd85e6ba30b3151d2d6610399f16093f4c0c\nauthor mosmith89 <47039837+mosmith89@users.noreply.github.com>
        1582036762 -0500\ncommitter GitHub <noreply@github.com> 1582036762 +0000\n\nFLY-271
        As a User i want Hotels omitted that dont have a specific lat long value stored
        (#6124)\n\n* Omit hotels that are missing a latitude and longitude\n\n* Omit
        hotels that are missing a latitude and longitude\n\n* Ran black\n\n* Made
        few changes from PR comments\n\n* Moved hotel_data = dict() up a few lines\n"}},"url":"https://api.github.com/repos/lolatravel/lola-server/commits/c0c43ba0c86d876cbd881e1242965116753b2702","html_url":"https://github.com/lolatravel/lola-server/commit/c0c43ba0c86d876cbd881e1242965116753b2702","comments_url":"https://api.github.com/repos/lolatravel/lola-server/commits/c0c43ba0c86d876cbd881e1242965116753b2702/comments","author":{"login":"mosmith89","id":47039837,"node_id":"MDQ6VXNlcjQ3MDM5ODM3","avatar_url":"https://avatars3.githubusercontent.com/u/47039837?v=4","gravatar_id":"","url":"https://api.github.com/users/mosmith89","html_url":"https://github.com/mosmith89","followers_url":"https://api.github.com/users/mosmith89/followers","following_url":"https://api.github.com/users/mosmith89/following{/other_user}","gists_url":"https://api.github.com/users/mosmith89/gists{/gist_id}","starred_url":"https://api.github.com/users/mosmith89/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mosmith89/subscriptions","organizations_url":"https://api.github.com/users/mosmith89/orgs","repos_url":"https://api.github.com/users/mosmith89/repos","events_url":"https://api.github.com/users/mosmith89/events{/privacy}","received_events_url":"https://api.github.com/users/mosmith89/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars3.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"e6debd85e6ba30b3151d2d6610399f16093f4c0c","url":"https://api.github.com/repos/lolatravel/lola-server/commits/e6debd85e6ba30b3151d2d6610399f16093f4c0c","html_url":"https://github.com/lolatravel/lola-server/commit/e6debd85e6ba30b3151d2d6610399f16093f4c0c"}]},"merge_base_commit":{"sha":"c0c43ba0c86d876cbd881e1242965116753b2702","node_id":"MDY6Q29tbWl0Mzk2NDUxNDQ6YzBjNDNiYTBjODZkODc2Y2JkODgxZTEyNDI5NjUxMTY3NTNiMjcwMg==","commit":{"author":{"name":"mosmith89","email":"47039837+mosmith89@users.noreply.github.com","date":"2020-02-18T14:39:22Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2020-02-18T14:39:22Z"},"message":"FLY-271
        As a User i want Hotels omitted that dont have a specific lat long value stored
        (#6124)\n\n* Omit hotels that[...]
